body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#grid-container {
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    height: 960px;
    width: 960px;
    flex: auto;
}
.grid-box {
    flex: auto;
    box-sizing: border-box;
    border: 2px solid black;
}
.grid-box:hover {
    background-color: black;
}
.row {
    display: flex;
    flex-wrap: nowrap;
    flex: auto;
}

#title {
    display: flex;
    justify-content: center;
    font-size: 50px;
}